*{
	font-family: 'Roboto', calibri, sans-serif;
}

h1,h2{
	font-family: 'Roboto Mono', calibri, sans-serif;
}

h1{
	font-size: 300%;
	text-align: center;
}

a{
	color: orange;
}

body{
	margin: 0;
}

.orangei{
	background-color: #ffbb00;
	padding: 5%;
	margin: 0;
	text-align: center;
}

.whitei{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
}

table, th, td{
	border: black 5px solid;
	border-collapse: collapse;

}

#buttoni{
	border: solid;
	border-color: white;
	border-width: 5px;
	border-radius: 25px;
	padding: 4px;
	background-color: white;
}

#codingstock{
	width: 25vw;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}













