/* 	Yellow = #FFCE02
	Orange = #FF6500
	Blue = #0251D6
*/

*{
	font-family: 'Roboto', calibri, sans-serif;
}

.navBar {
	background-color: #FFCE02;
	overflow: hidden;
	position: fixed;
	width: 100%;	
}

.navBar a{
	float: left;
	color: black;
	text-align: center;
	padding: 14px 8.5vw;
	text-decoration: none;
	font-size: 17px;	
}

.navBar a:hover {
	background-color: white;
	color: black;
}

h1,h2{
	font-family: 'Roboto Mono', calibri, sans-serif;
}

h1{
	font-size: 300%;
	text-align: center;
}

a{
	color: #FFCE02;
}

body{
	margin: 0;
}

.orangei{
	background-color: #FFCE02;
	padding: 5%;
	margin: 0;
	text-align: center;
}

.whitei{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
}

table, th, td{
	border: black 5px solid;
	border-collapse: collapse;

}

#buttoni{
	border: solid;
	border-color: white;
	border-width: 5px;
	border-radius: 25px;
	padding: 4px;
	background-color: white;
}

#codingstock{
	width: 25vw;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
}













